<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Queryd.com - The Site With All The Answers</title>
    <meta
      name="description"
      content="Queryd.com is where you can find all the best questions about life's most perplexing questions."
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="fb:admins" content="708922586" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/q.css" />
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-3 side-menu" role="nav">
          <div class="logo row">
            <a href="/" title="Queryd.com - The site with all the answers.">
              <img src="/static/img/queryd.png" alt="Queryd.com" />
            </a>
          </div>
          <div class="links row">
            <nav class="nav flex-column">
              <a class="nav-link" href="/featured/recent">Recent Questions</a>
              <a class="nav-link" href="/featured/popular">Popular Questions</a>
            </nav>
          </div>
        </div>

        <div class="col-sm-9 main" role="main">
          <div class="search row">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg"
                  >Search</span
                >
              </div>
              <input
                type="text"
                class="form-control"
                aria-label="Large"
                aria-describedby="inputGroup-sizing-sm"
              />
            </div>
          </div>
          <div class="hero row">
            <p class="lead col-sm-12">
              Find every answer on the internet from one place! Queryd.com
              brings you answers from everywhere to any question you can think
              to ask.
            </p>
          </div>
          <div class="suggestions row">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" href="#">Harley Davidson</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Mary Poppins</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Infinite Jest</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"
                  >Land speed of an unladen swallow</a
                >
              </li>
              <a class="nav-link" href="#">search engine optimization</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">banking</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">cable television</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">ibn khaldun</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">prostitution</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">houseplant</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">nutrition</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">potassium</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">agriculture</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">t-shirt</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">essential oil</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">nintendo ds</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">tennessee</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">hot air balloon</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">hot air balloon</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">debit card</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">pharmacology</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">ford taurus</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">am broadcasting</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">mortgage</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">mortgage</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">insurance</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">broadway theatre</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">twisted pair</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">mortgage</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">radio</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">english-language films</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">floors</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">mobile phone</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">dreadlocks</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">orlando, florida</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">musical theatre</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">sanitary napkin</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">wood</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">hair removal</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">taj mahal</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">intelligence</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">milling machine</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">nipple</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">insurance</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">new jersey</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">american films</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">mortgage</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">windows 7</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">comic book</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">blue</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">party</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">vehicle registration plate</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">epilator</a></li>
              <li class="nav-item">
                <a class="nav-link" href="#">mobile phone</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- main -->

      <footer>
        <div class="copyright row">
          <div>{{ .YEAR }} Queryd.com</div>
        </div>
      </footer>

      <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
      ></script>

      <noscript>
        <p>
          <img
            alt="Clicky"
            width="1"
            height="1"
            src="//in.getclicky.com/100595211ns.gif"
          />
        </p>
      </noscript>
      <!-- Quantcast Tag -->
      <script type="text/javascript">
        var _qevents = _qevents || [];

        (function() {
          var elem = document.createElement("script");
          elem.src =
            (document.location.protocol == "https:"
              ? "https://secure"
              : "http://edge") + ".quantserve.com/quant.js";
          elem.async = true;
          elem.type = "text/javascript";
          var scpt = document.getElementsByTagName("script")[0];
          scpt.parentNode.insertBefore(elem, scpt);
        })();

        _qevents.push({
          qacct: "p-WMnkAx_tGjF6m"
        });
      </script>
      <noscript>
        <div style="display:none;">
          <img
            src="//pixel.quantserve.com/pixel/p-WMnkAx_tGjF6m.gif"
            border="0"
            height="1"
            width="1"
            alt="Quantcast"
          />
        </div>
      </noscript>
      <!-- End Quantcast tag -->
    </div>
  </body>
</html>
